/* #box{
    height: 250px;
    width: 100px;
    background-color: blue;
    color: white;
    border: 1px solid black;
} */
.content{
    color: red;
}
.newClass{
    background-color: green;
}